In [25]:
from pandasql import *

In [26]:
apple = pd.read_csv('Apple_stock_data.csv')

In [27]:
sql = lambda q: sqldf(q, globals())

In [28]:
print ( sql("SELECT * FROM apple;"))

         date    year  month    open    high     low   close      volume    id
0     1/30/14  2014.0    1.0  502.54  506.50  496.70  499.78  24182996.0     1
1     1/29/14  2014.0    1.0  503.95  507.37  498.62  500.75  17991828.0     2
2     1/28/14  2014.0    1.0  508.76  515.00  502.07  506.50  38119083.0     3
3     1/27/14  2014.0    1.0  550.07  554.80  545.75  550.50  20602736.0     4
4     1/24/14  2014.0    1.0  554.00  555.62  544.75  546.07  15483491.0     5
...       ...     ...    ...     ...     ...     ...     ...         ...   ...
3550   1/7/00  2000.0    1.0   24.12   25.25   23.88   24.75  16133600.0  3551
3551   1/6/00  2000.0    1.0   26.53   26.75   23.25   23.75  26947600.0  3552
3552   1/5/00  2000.0    1.0   25.94   27.64   25.00   26.00  27353600.0  3553
3553   1/4/00  2000.0    1.0   27.06   27.66   25.30   25.62  17883600.0  3554
3554   1/3/00  2000.0    1.0   26.22   28.12   25.42   27.97  18648000.0  3555

[3555 rows x 9 columns]

In [35]:
# Get the max of each month for the stock price with given year

print ( sql("SELECT year, month, max(close) from apple GROUP BY month;"))

      year  month  max(close)
0   2014.0    1.0      557.36
1   2012.0    2.0      542.44
2   2012.0    3.0      617.62
3   2012.0    4.0      636.23
4   2012.0    5.0      585.98
5   2012.0    6.0      587.41
6   2012.0    7.0      614.32
7   2012.0    8.0      675.68
8   2012.0    9.0      702.10
9   2012.0   10.0      671.45
10  2012.0   11.0      596.54
11  2012.0   12.0      586.19

In [36]:
# Get the min and max for year month with gien year

q = """SELECT year, month, min(low) as max_month, max(high) as min_month
        FROM apple
        GROUP by month, year
        ORDER by year, month
        """

print ( sql(q))

       year  month  max_month  min_month
0    2000.0    1.0      21.62      30.38
1    2000.0    2.0      24.25      29.98
2    2000.0    3.0      28.50      37.59
3    2000.0    4.0      26.22      34.88
4    2000.0    5.0      20.44      31.56
..      ...    ...        ...        ...
164  2013.0    9.0     447.22     507.92
165  2013.0   10.0     478.28     539.25
166  2013.0   11.0     512.38     558.33
167  2013.0   12.0     538.80     575.14
168  2014.0    1.0     496.70     560.20

[169 rows x 4 columns]

In [38]:
#  counts the number of unique values in the month column and the number of unique value in the year column

q = """SELECT COUNT(DISTINCT month) as month_count, COUNT(DISTINCT year) as year_count
FROM apple
        """

print ( sql(q))

   month_count  year_count
0           12          15

In [39]:
#determines counts of every single column and returns all the columns
q = """SELECT COUNT(year) AS year,
       COUNT(month) AS month,
       COUNT(open) AS open,
       COUNT(high) AS high,
       COUNT(low) AS low,
       COUNT(close) AS close,
       COUNT(volume) AS volume
  FROM apple
        """

print ( sql(q))

   year  month  open  high   low  close  volume
0  3555   3555  3541  3531  3535   3555    3547

In [41]:
#determines the average close to open diffrence for yearn month in the year
q = """SELECT year, month, AVG(close - open)
from apple
GROUP by month, year
ORDER by year, month
        """

print ( sql(q))

       year  month  AVG(close - open)
0    2000.0    1.0          -0.225500
1    2000.0    2.0           0.122500
2    2000.0    3.0           7.074348
3    2000.0    4.0           0.006316
4    2000.0    5.0          -0.555909
..      ...    ...                ...
164  2013.0    9.0          -2.588000
165  2013.0   10.0           0.596957
166  2013.0   11.0           1.398500
167  2013.0   12.0          -0.873333
168  2014.0    1.0          -0.959000

[169 rows x 3 columns]